<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2017.10.04.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CCB2ADD1F84B916005DEF66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CCB2AF11F84B917005DEF66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CCB2AFC1F84B918005DEF66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
